# {{ ansible_managed }}
# This the default chrony_conf file for the chrony package. 

{% for line in pool  %}
{{ line.type }} {{ line.addr }} {% if line.offline is defined and line.offline %}offline{% endif %} {{ line.mode }} {% if line.maxsources is defined %}maxsources {{ line.maxsources }}{% endif %}

{% endfor %}

# This directive specify the location of the file containing ID/key pairs for NTP authentication
keyfile {{ keyfile }}

# This directive specify the file into which chronyd will store the rate information
driftfile {{ driftfile }}

{% if logging_enabled %}
# Logging capability
log {{ logging_level }}

# Log file and location
logdir {{ logging_path }}

# This directive forces `chronyd' to send a message to syslog if it
# makes a system clock adjustment larger than a threshold value in seconds.

#Debian logchange 0.5
logchange {{ logging_change }}
{% endif %}


# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Stop bad estimates upsetting machine clock.
maxupdateskew {{ maxupdateskew }}

# Dump measurements when daemon exits.
{% if dumponexit_enabled | bool %}
dumponexit {{ dumponexit_path }}
{% endif %}

# Specify directory for dumping measurements.

dumpdir /var/lib/chrony

{% if server_enabled | bool %}
# This directive lets 'chronyd' to serve time even if unsynchronised to any
# NTP server.
local stratum {{ local_stratum }}

{% if server_enabled is defined and server_enabled | bool %}
# This directive designates subnets (or nodes) from which NTP clients are allowed
# to access to 'chronyd'.

#allow foo.example.net
#allow 10/8
#allow 0/0 (allow access by any IPv4 node)
#allow ::/0 (allow access by any IPv6 node)
{% if server_allow is defined and server_allow | length > 0 %} {% for item in server_allow %}
allow {{ item }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}

# This directive defines an email address to which mail should be sent
# if chronyd applies a correction exceeding a particular threshold to the
# system clock.

{% if chrony_mail is defined and chrony_mailint is defined %}
mailonchange {{ chrony_mail }} {{ chrony_mailint }}
{% endif %}

# This directive tells 'chronyd' to parse the 'adjtime' file to find out if the
# real-time clock keeps local time or UTC. It overrides the 'rtconutc' directive.

{% if hwclockfile is defined %}
hwclockfile {{ hwclockfile }}
{% endif %}

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
{% if rtcsync | bool %}
rtcsync
{% endif %}
